SEMAPHORE_DB_USER=semaphore
SEMAPHORE_DB_PASSWORD={{ semaphore_vault_response.secret.db_password }}
SEMAPHORE_ADMIN_NAME={{ semaphore_admin_name }}
SEMAPHORE_ADMIN_USERNAME={{ semaphore_vault_response.secret.admin_username }}
SEMAPHORE_ADMIN_PASSWORD={{ semaphore_vault_response.secret.admin_password }}
SEMAPHORE_ADMIN_EMAIL={{ semaphore_admin_email }}
SEMAPHORE_BROWSER_URL={{ semaphore_browser_url }}
SEMAPHORE_ACCESS_KEY_ENCRYPTION={{ semaphore_vault_response.secret.access_key_encryption }}
SEMAPHORE_COOKIE_HASH={{ semaphore_vault_response.secret.cookie_hash }}
SEMAPHORE_COOKIE_ENCRYPTION={{ semaphore_vault_response.secret.cookie_encryption }}
SEMAPHORE_RUNNER_REGISTRATION_TOKEN={{ semaphore_vault_response.secret.runner_registration_token }}
VAULT_ADDR={{ semaphore_vault_url }}
VAULT_NAMESPACE={{ semaphore_vault_namespace }}
VAULT_SEMAPHORE_SSH_MOUNT={{ semaphore_ssh_vault_mount }}
VAULT_SEMAPHORE_SSH_ROLE={{ semaphore_ssh_vault_role }}
VAULT_SEMAPHORE_SSH_ROLE_ID={{ semaphore_ssh_vault_role_id }}
VAULT_SEMAPHORE_SSH_SECRET_ID={{ semaphore_ssh_vault_secret_id }}
